@using OnlineShop.Utility
@using Asp2025_Utility
@model Asp2025_Models.Product

<div class="card filter @Model.Category.Name.Replace(' ', '_')" style="width: 18rem;">

    <!-- Code From Index-->
    <img src="@Model.Image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Id: @Model.Id</p>
        <p class="card-text">Category: @Model.CategoryId</p>
        <p class="card-text">Company: @Model.CompanyId</p>
        <p class="card-text">Price: @Model.Price</p>
        <p class="card-text">@Model.Description</p>
        <form method="get">
            <input type="number" value="@Model.Id" name="id" hidden />
            @if (User.IsInRole(WC.AdminRole))
            {
                <input type="submit" class="btn btn-danger" value="Delete" asp-action="Delete" />
                <input type="submit" value="Edit" class="btn btn-primary" asp-action="Edit" />
            }
            <input type="submit" value="Details" class="btn btn-success" asp-action="Details" />
        </form>
    </div>

</div>