@model List<Product>

@{
    var orderTotal = 0.0;
}

@if (Model.Count == 0)
{
    <h1 style="color: red">Корзина пуста</h1>
}
else
{
    <div class="row" style="margin: 10px">
        @* @foreach (var prod in Model) *@
        @for (int i = 0; i < Model.Count; i++)
        {
            <input hidden asp-for="@Model[i].Id" />

            <div>
                <img src="@Asp2025_Utility.WC.ImagePath@Model[i].Image" style="width: 250px; height: 250px;" />
                <h2>Id: @Model[i].Id</h2>
                <h2>Name: @Model[i].Name</h2>
                <h2>Category: @Model[i].CategoryId</h2>
                <h2>Company: @Model[i].CompanyId</h2>
                <h3>Price: @Model[i].Price</h3>

                <h3>Count: @Model[i].TempCount</h3>
                <p>
                    <input asp-for="@Model[i].TempCount" class="form-control" />
                </p>

                <p>@Model[i].Description</p>

                <p>Полная цена за продукт</p>
                <h3>Всего: @(@Model[i].TempCount * @Model[i].Price)</h3>

                <form method="get">
                    <input type="number" value="@Model[i].Id" name="id" hidden />
                    <input type="submit" value="Details" asp-action="Details" asp-controller="Product">
                </form>
            </div>

            // считаем общую сумму
            orderTotal += @Model[i].TempCount * @Model[i].Price;
        }
    </div>

    <h2>Стоимость заказа: @string.Format("{0:c}", orderTotal)</h2>




    <div>
        <form method="post" asp-controller="Cart" asp-action="InquiryAdd">

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">phonenumber</label>
                <input type="phonenumber" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="phone">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">full name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="fullname">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <input type="submit" asp-action="UpdateCart" formmethod="post" name="Update" class="btn btn-info form-control"
                value="Update Cart" />

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div>
        <form method="post" asp-controller="Cart" asp-action="UpdateCart">
            @for (int i = 0; i < Model.Count; i++)
            {
                <input type="hidden" asp-for="@Model[i].Id" />
                <input asp-for="@Model[i].TempCount" class="form-control" />
            }

            <input type="submit" asp-action="UpdateCart" formmethod="post" class="btn btn-info form-control"
                value="Update Cart" />
        </form>
    </div>
}